@import 'scss/style';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

  // Height fix on mobile
  height: -webkit-fill-available;
  height: -moz-available;

  //height: calc(var(--vh, 1vh) * 100);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
